*
!*/
!.gitignore
!.editorconfig
!*.json

!*/war3mapMap.blp
!*/war3mapMisc.txt
!*/war3mapSkin.txt

!**/Imports/**/*.blp
!**/Imports/**/*.BLP
!**/Imports/**/*.fdf
!**/Imports/**/*.mdx
!**/Imports/**/*.Mdx
!**/Imports/**/*.MDX
!**/Imports/**/*.mp3
!**/Imports/**/*.slk
!**/Imports/**/*.toc
!**/Imports/**/*.webp
