[*.cs]

# IDE0016: Use 'throw' expression
csharp_style_throw_expression = false

# IDE0031: Use null propagation
dotnet_style_null_propagation = false

# IDE0074: Use compound assignment
dotnet_style_prefer_compound_assignment = false

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = silent

# IDE0270: Use coalesce expression
dotnet_style_coalesce_expression = false

# CA1510: Use ArgumentNullException throw helper
dotnet_diagnostic.CA1510.severity = none

# CA1859: Use concrete types when possible for improved performance
dotnet_diagnostic.CA1859.severity = silent

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = silent
