name: .NET

on:
    push:
        branches: [ main, dev ]
    pull_request:
        branches: [ main, dev ]

env:
  DOTNET_VERSION: 10.0.x

jobs:
    Developer-CI:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
            -   name: Setup .NET
                uses: actions/setup-dotnet@v1
                with:
                    dotnet-version: ${{ env.DOTNET_VERSION }}
            -   name: Run .NET Format
                run: dotnet format --verify-no-changes --verbosity detailed --exclude src/War3Api.Object
            -   name: Build
                run: dotnet build
            -   name: Inspect code
                uses: muno92/resharper_inspectcode@1.11.14
                with:
                    solutionPath: ./WarcraftLegacies.slnx
                    minimumSeverity: error
                    failOnIssue: 1
                    include: |
                        ./src/MacroTools/**
                        ./src/WarcraftLegacies.Source/**
                        ./src/Launcher/**
                        ./src/TestMap/**
                    solutionWideAnalysis: false
                    
    Integrity-Check:
        runs-on: windows-latest
        steps:
            -   uses: actions/checkout@v6
            -   name: Setup .NET
                uses: actions/setup-dotnet@v1
                with:
                    dotnet-version: ${{ env.DOTNET_VERSION }}
            -   name: Build
                run: dotnet build
            -   name: Test
                run: dotnet test
