name: .NET

on:
    push:
        branches: [ main, dev ]
    pull_request:
        branches: [ main, dev ]

jobs:
    Developer-CI:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   name: Setup .NET
                uses: actions/setup-dotnet@v1
                with:
                    dotnet-version: 7.0.x
            -   name: Run .NET Format
                run: dotnet format --verify-no-changes --verbosity detailed
            -   name: Build
                run: dotnet build
            -   name: Inspect code
                uses: muno92/resharper_inspectcode@1.11.14
                with:
                    solutionPath: ./WarcraftLegacies.sln
                    minimumSeverity: error
                    failOnIssue: 1
                    include: |
                        ./src/MacroTools/**
                        ./src/WarcraftLegacies.Source/**
                        ./src/Launcher/**
                        ./src/TestMap/**
                    solutionWideAnalysis: false
                    
    Integrity-Check:
        runs-on: windows-latest
        steps:
            -   uses: actions/checkout@v3
            -   name: Setup .NET
                uses: actions/setup-dotnet@v1
                with:
                    dotnet-version: 7.0.x
            -   name: Build
                run: dotnet build
            -   name: Test
                run: dotnet test