name: .NET

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   name: Setup .NET
                uses: actions/setup-dotnet@v1
                with:
                    dotnet-version: 6.0.x
            -   name: Restore dependencies
                run: dotnet restore
            -   name: Build
                run: dotnet build --no-restore
            -   name: Test
                run: dotnet test --no-build --verbosity normal
            -   name: Inspect code
                uses: muno92/resharper_inspectcode@1.6.2
                with:
                    solutionPath: ./WarcraftLegacies.sln
                    minimumSeverity: error
                    failOnIssue: 1
                    exclude: src/War3Api.Object/*
    
    deploy-docs:
        name: Deploy Docs
        needs: [ build ]
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Build Documentation
                uses: nikeee/docfx-action@v1.0.0
                with:
                    args: docfx_project/docfx.json

            -   name: Deploy to GitHub Pages
                uses: peaceiris/actions-gh-pages@v3
                with:
                    github_token: ${{ secrets.GITHUB_TOKEN }}
                    publish_dir: ./docs
